* {
    background-color: #050505;
}

.logo-img {
    width: 20rem;
    height: 10rem;
    border: solid, 1px, red;
    margin: auto;
}

.navbar {
    display:flex;
    justify-content: center;
    align-items: center;
    border: solid, 1px, red;

}