* {
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1b1b1b3f;
  flex-shrink: 1;
  flex-grow: 1;
  font-family: "sporty-pro", sans-serif;
  flex-wrap: wrap;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 1;
  /* border: 1px solid lime; */
  overflow: hidden;
}

.hero {
  justify-content: center;
  align-items: center;
  background-color: #1b1b1b3f;
  text-align: center;
  font-family: "sporty-pro", sans-serif;
  flex-wrap: wrap;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  /* border: 1px solid lime; */
}

.contact a {
  text-decoration: none;
  color: #b98a50;
}

.contact a:hover {
  color: #efbe82;
}

.email {
  letter-spacing: 2px;
  text-align: center;
  margin: 5px 0;
}

.phone-number {
  margin-top: 5px;
  text-decoration: none;
  letter-spacing: 2px;
  text-align: center;
}

.logo-container {
  display: flex;
  justify-items: center;
  align-items: center;
  flex: 1;
  position: absolute;
  left: 45.5%;
  /* border: 1px solid lime; */
}

.logo-img {
  cursor: pointer;
  height: 100px;
  width: auto;
  max-width: 300px;
  display: flex;
  margin: 0 auto;
  /* left: 870px; */
  /* display: inline-flex; */
  justify-content: center;
  align-items: center;
}

.facebook-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.facebook-logo {
  cursor: pointer;
  /* border: 1px solid lime; */
}

.home-image {
  color: inherit;
}

.service-list {
  display: flex;
}

.content {
  display: flex;
  color: inherit;
  justify-content: flex-end;
  align-items: flex-end;
  max-height: auto;
  text-align: center;
}

.home-image {
  box-shadow: inset 0 0 2000px rgba(0, 0, 0.5);
}

.section {
  background-image: url("./assets/home-img.jpg");
}

.service-list {
  display: flex;
  letter-spacing: 2px;
  color: #b98a50;
  /* border: 1px solid lime; */
  width: 100vw;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  
}

ul {
  margin: 20px 15px;
  font-size: 12.5px;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-shrink: 1;
  flex-grow: 1;
  /* border: 1px solid lime; */
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 400px;
  position: relative;
  bottom: -50px;
  margin: 0 auto;
}

.slide {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px #666;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  position: absolute;
}

.slide-hidden {
  opacity: 0;
  overflow: hidden;
}

.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: white;
  filter: drop-shadow(0px 0px 5px #555);
}

.arrow:hover {
  cursor: pointer;
}

.arrow-left {
  left: 1rem;
  z-index: 1;
}

.arrow-right {
  right: 1rem;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.footer {
  display: flex;
  justify-content: center; 
  align-items: center; 
  color: #b98a50;
  letter-spacing: 2px;
  padding: 20px; 
  /* border: 1px solid lime; */
  flex-shrink: 0; 
  flex-wrap: wrap;
  position: relative;
  bottom: -6rem;
}

.footer a {
  text-decoration: none;
  color: #b98a50;
}

.footer a:hover {
  color: #efbe82;
}

.paragraph {
  color: #b98a50;
  text-align: center;
  position: relative;
  top: 90px;
  letter-spacing: 2px;
  margin: 0px 40px;
  padding:  0px 500px;
  line-height: 1.2;
  /* border: 1px solid lime; */
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 600;
}

html,
body {
  height: 100%;
}

header {
  height: 15vh;
}

.email-footer {
  border: 1px solid #b98a50;
  padding: 10px 10px 10px 10px;
  background-color: #091110;
  border-radius: 2rem;
  margin: 0 auto;
  min-width: 50px;
  flex: none;
  margin-right: 10px;
  font-family: "sporty-pro", sans-serif;
}

.phone-footer {
  border: 1px solid #b98a50;
  padding: 10px 10px 10px 10px;
  background-color: #091110;
  border-radius: 2rem;
  margin: 0 auto;
  min-width: 50px;
  flex: none;
  margin-left: 10px;
  font-family: "sporty-pro", sans-serif;
}

@media (max-width: 1352px) {
 .paragraph {
  padding: 0px 50px;
 }
}

@media (max-width: 1287px) {
  .subheading-text {
    font-size: 10px;
  }

  .logo-container {
    left: 43%;
  }

  .paragraph {
    padding: 0px 100px ;
  }
}

@media (max-width: 1117px) {
  .subheading-text {
    font-size: 8px;
  }

  .contact {
    font-size: 12px;
  }
}

@media (max-width: 989px) {
  .subheading-text {
    font-size: 6px;
  }

  .logo-container {
    left: 41% ;
  }
}

@media (max-width: 879px) {
  .contact {
    font-size: 10px;
  }

  .logo-container {
    left: 40%;
  }
}

@media (max-width: 855px) {
  .subheading-text {
    font-size: 8px;
    font-weight: 500;
  }

  .service-list {
    display: flex;
    flex-wrap: wrap;
  }

  .carousel {
    bottom: -80px;
  }

  .logo-container {
    left: 39%;
  }

  .contact {
    font-size: 9px;
    
  }

  .contact-text {
   max-width: 10px;
  }
}

@media (max-width: 792px) {
  .subheading-text {
    font-size: 8px;
    font-weight: 500;
  }

  .contact {
    font-size: 9px;
  }
}

@media (max-width: 731px) {
.contact {
  font-size: 8px;
}
}

@media (max-width: 725px) {
  .subheading-text {
    font-size: 8px;
    font-weight: 500;
  }
}

@media (max-width: 687px) {

  .service-list {
    line-height: 0.1;
  }

  .content {
    line-height: 1.2;
  }
  .carousel {
    bottom: -50px;
  }

  .paragraph {
    top: 150px;
  }

  .footer {
    bottom: -12rem;
  }

  .subheading-text {
    padding: -1000px;
  }

  .contact {
    display: none;
  }

  .logo-container{
    left: 37.5% ;
  }

}

@media (max-width: 605px) {
  .carousel {
    width: 550px;
  }

  
}

@media (max-width: 550px) {
  .paragraph {
    padding: 50px;
  }

  .carousel {
    width: 500px;
    height: 400px;
  }

  .paragraph {
    top: 80px;
  }

  .footer {
    bottom: -8rem;
  }

  .logo-container {
    left: 35%;
  }
  
}

@media (max-width: 503px) {
  .carousel {
    width: 450px;
    height: 300px;
  }

  .logo-container {
    left: 33%
  }
 
}

@media (max-width: 453px) {
  .carousel {
    width: 400px;
    height: 275px;
  }

  .logo-container {
    left: 30%;
  }
}

@media (max-width: 407px) {
  .carousel {
    width: 380px;
    height: 250px;
  }

  .logo-container {
    left: 27%;
  }
}

@media (max-width: 379px) {
  .carousel {
    width: 360px;
    height: 225px;
  }

  .logo-container {
    left: 25%;
  }
}